<!DOCTYPE html>
<html class="no-js">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Profile</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">

  <!-- Favicon-->
  <link rel="shortcut icon" href="images/favicon.png" >

  <!-- Stylesheets -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="font/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="libs/materialize/css/materialize.min.css" media="screen,projection" />
  <link rel="stylesheet" href="css/bootstrap.css" media="screen,projection" />

  <link rel="stylesheet" href="css/animate.min.css" media="screen,projection" />
  <link rel="stylesheet" href="libs/sweetalert/sweet-alert.css" media="screen,projection" />

  <link rel="stylesheet" href="libs/owl-carousel/owl.carousel.css" media="screen,projection" />
  <link rel="stylesheet" href="libs/owl-carousel/owl.transitions.css" media="screen,projection" />
  <link rel="stylesheet" href="libs/owl-carousel/owl.theme.css" media="screen,projection" />

  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/responsive.css">

  <link rel="stylesheet" href="css/colors/color1.css">

  <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
  <![endif]-->
</head>
<body>
    <!-- Partner Section -->
    <section id="partners" class="root-sec grey lighten-5 funfact-wrap">
    <div class="sec-inner padd-tb-120">
      <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4">
              <div class="person-about">
                <h3 class="about-subtitle">My Story</h3>
                <p>Hello, I’m a UI/UX Designer &amp; Front End Developer from Elminia, Egypt. I hold a master degree of Web Design from the World University. <br />
                And scrambled it to make a type specimen book. It has survived not only five centuries</p>
                <a class="waves-effect waves-light btn-large brand-bg white-text"><i class="mdi-content-archive left"></i> Download Resume</a>
              </div>
            </div>
            <!-- about me description -->
            
            <div class="col-sm-6 col-md-4">
              <div class="person-img wow fadeIn">
                <img class="z-depth-1" src="images/person.png" alt="">
              </div>
            </div>
            <!-- about me image -->

            <div class="col-sm-6 col-md-4">
              <div class="person-info">
                <h3 class="about-subtitle">Personal Information</h3>
                <h5><span>Name :</span> Karem Mohamed</h5>
                <h5><span>Age :</span> 20 Years</h5>
                <h5><span>Phone :</span> +0123456789</h5>
                <h5><span>Email :</span> email@domain.com</h5>
                <h5><span>Address :</span> Elminia, Egypt</h5>
              </div>

              <div class="about-social">
                <ul>
                  <li>
                    <a href="#" class="btn-floating waves-effect waves-light white"><i class="fa fa-facebook"></i></a>
                  </li>
                  <li>
                    <a href="#" class="btn-floating waves-effect waves-light white"><i class="fa fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#" class="btn-floating waves-effect waves-light white"><i class="fa fa-google-plus"></i></a>
                   </li>
                  <li>
                    <a href="#" class="btn-floating waves-effect waves-light white"><i class="fa fa-linkedin"></i></a>
                  </li>
                  <li>
                    <a href="#" class="btn-floating waves-effect waves-light white"><i class="fa fa-pinterest"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- about me info -->

        </div>

      </div>  <!-- .container end -->
    </div>
    </section>
</body>

</html>